.pai{
    width: 860px;
    height: 400px;
    padding: 20px;
    background-color: aquamarine;
    /* display - maneira que mostra os elementos */
    /* block (blocos) um em cima do outro, e da esquerda para direita */
    /* flex (flexivel) linhas e colunas */
    display: flex;
    /* flex-direction - direção se é coluna ou linha */
    flex-direction: column;
    /* justify-content - alinhamento do eixo x */
    justify-content: space-around;
    /* align-content - alinhamento do eixo y */
   align-items: center;
   /* gap - espaçamento entre elementos */
   gap: 20px;
   /* obs : o alinhamento só acontece mediante a largura/altura */
    flex-wrap: wrap
    /* flex-wrap - não coube, com wrap coloca ao  */
}

.filho{
    width: 100px;
    height: 100px;
}

#f1{
    background-color: sienna;
}

#f2{
    background-color:bisque;
}


#f3{
    background-color: antiquewhite;
}