*{
    padding: 0%;
    margin: 0%;
}

header, footer{
    width: 100%;
    padding: 10px 0px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
a{
    color: rgb(216, 22, 22);
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#logo{
    width: 40px;
    height: 40px;
    background-color: aqua;
}
.carro{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: rgb(204, 200, 200) 5px 5px;
    background-color: white;
}
#promocao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}

.carro img{
    width: 100%;
}

#grupoCarros{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
}
/* https://fonts.google.com/ */